.page{
    margin: 0px;
}


.picture {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
    height: 500px;
}

@media print {
    .picture{
        float: none;
        
    }
}