h1{
    text-align: center;
}

h2{
    text-align: center;
}
.conteiner{
    display: flex;
    flex-direction: row;

    
    
}

.box{
    
    border: 2px solid lightgrey;
    margin: 10px 10px ;
    width: 400px;
    padding: 10px;
}

.exemple{
    border: 1px solid black;
    color: rgb(0, 0, 196);
    margin-top: 60px;
}



@media screen and (max-width: 768px){
    .conteiner{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        
    
        
    }

    .box{
        border: 1px solid lightgrey;
        width: 300px;
        font-family: Arial, Helvetica, sans-serif;
        
        
        
    }

}

@media screen and (max-width: 320px){
    .conteiner{
        display: flex;  
        flex-direction: column; 
        justify-content: center;
        
    
        
    }

    .box{
        align-items: center;
        border: 1px solid lightgrey;
        width: 280px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin: 10px 0px;

        
        
        
    }
    
}
