
.match {
    
    align-items: center;
    width: 500px;
}

.fire {
    position: relative;
    z-index: 1;
    top: +75px;
    width: 250px;
    height: 250px;
    background: linear-gradient(45deg, #f3bb1f, #da1313);
    border-radius: 70% 0 55% 50% / 55% 0 70% 50%;
    transform: rotateZ(-45deg);
    box-shadow:  0 0 20px rgba(247, 58, 0, 0.884);
}

.top {  
    position: relative;
    z-index: 3;
    width: 60px;
    height: 75px;
    border-radius: 100% / 100%;
    background: linear-gradient(to bottom, #ffffff 10%, #753c03 50%, #442200 75%);
    box-shadow: 0 -20px 15px rgba(255, 255, 255, 0.85), -5px -5px 15px rgba(255, 255, 255, 0.85), 5px -5px 15px rgba(255, 255, 255, 0.85);
    top: +5px;
}

.stick {
    position: relative;
    z-index: 2;
    width: 30px;
    color: #f3cc62;
    height: 400px;
    border: 2px solid #b66c23;
    background: linear-gradient(to right, #964B00, #b66c23,#d4a474);
}



