
.box {
    display: inline-block;
    position: relative;
    padding: 2em;
    
}
.box:after,
.box:before {
    position: absolute;
    content: "";
    
}
.box:after {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    left: 0;
    right: 0;
    top: 1em;
    bottom: 1em;
}
.box:before {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    left: 1em;
    right: 1em;
    top: 0;
    bottom: 0;
}
.box{
    background-color: lightgray;
}
