

.box{
    display:flex ;
    border: 1px solid white;
    position: relative;
    padding: 20px;
    background-color: lightgrey;
    justify-content: left;
    transform: translateY(40px);
    margin-left: 200px;
    margin-right: 200px;
    width: 500px;
}

.box:before {
    content: '';
    border: 1px solid black;
    top: -25px;
    bottom: -25px;
    right: 0px;
    left: 0px;
    position: absolute;
    border-bottom: white;
    border-top: white;
}

.box:after {
    content: '';
    border: 1px solid black;
    top: 0px;
    bottom: 0px;
    right: -25px;
    left: -25px;
    position: absolute;
    border-right: white;
    border-left: white;
}

