* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: flex;
    box-sizing: content-box;
    
}

.box{
    display: flex;
    width: 80%;
    padding: 30px;
    background-color: lightgrey;
    border: 0px solid black;
    margin: auto;
    justify-content: left;
    
}