form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}

input {
	padding-left: 10px;
    width: 35%;
    flex-grow: 1;
    
}

h2 {
	text-align: center;
}

button {
    color: green;
}

button:hover {
	color: red;
}
input {
  color: green;
}

input:hover {		
	color: red;
}


button {
  border: 1px solid grey;
}