.Circle {
    width: 150px;
    height: 150px;
    background: green;
    animation: 10s infinite moving;
    border-radius: 100%;
    transition: all 0.5s ease;
    margin-top: 100px;
    animation-timing-function: linear;
}

.Circle:hover {
    background-color: red;
    transition: all 2s ease;
}

@keyframes moving {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: calc(100% - 150px);
    }
    100% {
        margin-left: 0%;
    }
}
